[v-cloak] {
  display: none;
}

*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Cambria', 'Palatino', "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	text-align: center;
	color: #fff;
}

/*--------------
	The form
----------------*/
form {
	width: 400px;
	background-color: #7BA7AB;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	padding: 35px 60px;
	margin: 100px auto;
}

form h1 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

form ul {
	list-style: none;
	font-size: 18px;
	text-align: left;
	margin: 20px 0 15px;
}

form ul li {
	padding: 15px 30px;
	background-color: #B46381;
	margin-bottom: 15px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

form ul li span {
	float: right;
}

form ul li.active {
	background-color: #8ec16d;
}

div.total {
	border-top: 1px solid #ccc;
	padding: 15px 30px;
	font-size: 20px;
	text-align: left;
}

div.total span{
	float:right;
}
