<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>变换布局</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="layout.css">
</head>
<body>
	<div id="main" v-cloak>
		<div class="menu">
			<span v-bind:class="{'active':layout == 'grid'}" v-on:click="layout = 'grid'"><i class="fa fa-th" aria-hidden="true"></i></span>
			<span v-bind:class="{'active':layout == 'list'}" v-on:click="layout = 'list'"><i class="fa fa-list" aria-hidden="true"></i></span>
		</div>

		<ul class="grid" v-if="layout == 'grid'">
			<li v-for="item in items">
				<a v-bind:href="item.url" target="_blank"><img v-bind:src="item.img.large" /></a>
			</li>
		</ul>

		<ul class="list" v-if="layout == 'list'">
			<li v-for="item in items">
				<a v-bind:href="item.url" target="_blank"><img v-bind:src="item.img.small" /></a>
				<p>{{item.title}}</p>
			</li>
		</ul>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
	<script type="text/javascript" src="layout.js"></script>
</body>
</html>